.fancy-input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.4;
  border: 1px solid #e5e7eb;
  transition: all 0.3s;
  outline: none;
  margin: 0;
  padding: 0.25rem 0.75rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;

  &:focus {
    border-color: rgb(96, 165, 250);
    box-shadow: 0 0 #000, 0 0 #000, 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  &::placeholder {
    color: rgb(209, 213, 219);
  }
}
